black==21.9b0
cffi==1.14.6
click==8.0.2
mypy-extensions==0.4.3
numpy==1.21.2
pathspec==0.9.0
platformdirs==2.4.0
pycparser==2.20
regex==2021.10.8
tcod==13.0.0
tomli==1.2.1
typing-extensions==3.10.0.2
